allow_crosshair = true

recoil_bloom = true
recoil_multiplier_heading = 0.5
recoil_multiplier_pitch = 0.6

firing_stress_increase_multiplier = 0.4

stockade_robberies_required_police = 2 # Default is 4

disable_wearable_weapons = false
disable_character_deletions = false
disable_kill_confirmation = true # default is true

disable_third_person_vehicle_aim = true # does what it says

enable_critical_hits = false # setting to true will allow for headshots to one-shot someone.

enable_seasonal_weather = false # enables seasonal weather (snowy weathers in winter, for example)

extend_view_modes = true # adds all the native view modes

neutral_gangs = false # when set to true, it makes all NPC gang peds not shoot at you when aggravated

population_density_multiplier = 1.0

# Jobs to exclude from the job center/Life Invader
# 1 = Unemployed
# 2 = Trucker
# 3 = Taxi Driver
# 4 = Journalist
# 5 = Waste Collector
# 6 = Tow Driver
# 7 = Delivery Job
excluded_jobs = "4,6"

# replace or add new items into item stores
store_overrides = "arcade_bar=pigeon_milk:25;grocery_store=pepsi:50,vegan_sandwich:40,jolly_ranchers:14,cigarette_pack:75,coke:50,green_apple:60,donut:35,sandwich:50,taco:50;island_bar=coke:50,smores:50;island_store=donut:50,taco:50,sandwich:50;dons_country_store=vegan_sandwich:35,jolly_ranchers:12,cigarette_pack:80,sandwich:45,pizza_slice:25,almond_milk:50,peanuts:30,pigeon_milk:75,beef_jerky:12;"

disable_aim_roll = false # disable this: https://gyazo.com/ec4b6b660a89d3ca8849810ad267fcb3

# External
store_robberies_required_police = 2 # Default is 3
jewelry_heist_required_police = 4 # Default is 6

# Alpha
disable_weed = false
disable_cocaine = false
disable_oxy = false
disable_guns = true

disable_jail_jobs = false

weed_sale_multiplier = 0.9 # Gives 1.3* more of a payout when sold.
cocaine_sale_multiplier = 1 # Gives 1.3* more of a payout when sold.
moonshine_sale_multiplier = 3 # This is just a test for now lets see 
shroom_sale_multiplier = 1 # This is just a test for now lets see 
meth_sale_multiplier = 2 # This is just a test for now lets see 


admin_panel_url = https://c13.legacy-roleplay.com

lock_los_santos_customs = false

enable_semi_auto_rifles = false
enable_semi_auto_pistols = true

# If npcs should call ems for you (default false)
npcs_call_ems = false

fuel_cost_multiplier = 1 

# 71, 72, 73, 74, 75 sets the required tier to their respected pledge (71 = appreciated, 75 = god tier) Default is 75.
# You can also set it to false to allow all players to use it
cinema_early_access = false

mechanic_shop_cost_multiplier = 1

show_loading_screen_title = true

cargo_minimum_players = 20



