allow_crosshair = true

recoil_bloom = true
recoil_multiplier_heading = 1
recoil_multiplier_pitch = 1

firing_stress_increase_multiplier = 1

stockade_robberies_required_police = 3 # Default is 4

disable_wearable_weapons = false
disable_character_deletions = false
disable_kill_confirmation = true # default is true

disable_third_person_vehicle_aim = true # does what it says

enable_critical_hits = false # setting to true will allow for headshots to one-shot someone.

enable_seasonal_weather = true # enables seasonal weather (snowy weathers in winter, for example)

extend_view_modes = false # adds all the native view modes

neutral_gangs = false # when set to true, it makes all NPC gang peds not shoot at you when aggravated

population_density_multiplier = 1.0

# Jobs to exclude from the job center/Life Invader
# 1 = Unemployed
# 2 = Trucker
# 3 = Taxi Driver
# 4 = Waste Collector
# 5 = Tow Driver
# 6 = Delivery Job
excluded_jobs = "4,6"

# replace or add new items into item stores
store_overrides = "gun_store=pistol_ammo:42,sub_ammo:69;grocery_store=water:8;"

disable_aim_roll = false # disable this: https://gyazo.com/ec4b6b660a89d3ca8849810ad267fcb3

# External
store_robberies_required_police = 2 # Default is 3
jewelry_heist_required_police = 4 # Default is 6

# Alpha
disable_weed = false
disable_cocaine = false
disable_oxy = false
disable_guns = false

disable_jail_jobs = false

weed_sale_multiplier = 1.3 # Gives 1.3* more of a payout when sold.
cocaine_sale_multiplier = 1.5 # Gives 1.3* more of a payout when sold.

# Usage: cluster_name=JobName/DepartmentName;cluster_name_2=OtherJobName
door_cluster_key_overrides = "la_fuente_blanca=The Cartel/Cartel"

# Usage: locker_identifier=locker_name/JobName/DepartmentName;locker_identifier_2=locker_name_2/OtherJobName
locker_overrides = "fuente_blanca=the_cartel/The Cartel/Cartel"

# Usage: garage_job_overrides="garage_id=JobName/DepartmentName;garage_id_2=OtherJobName"
garage_job_overrides = "16=The Cartel/Cartel"

# Usage: disabled_door_clusters="cluster1,cluster2"
disabled_door_clusters = "island_bunker"

lock_los_santos_customs = false

enable_semi_auto_rifles = true
enable_semi_auto_pistols = true

# If npcs should call ems for you (default false)
npcs_call_ems = true
